@CHARSET "UTF-8";

div, p, table {
	word-break: break-all;
	word-wrap: break-all;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

a:active {
	color: yellow;
}

a{
	cursor:pointer;
}